*.jou
*.log
.Xil/
.cache/
.gen/
.hw/
.ip_user_files/
.runs/
.sim/
.srcs/
*.str
*.dcp
*.bit
*.ltx
*.xpr
fd_bb_slbb_hls/
solution*/
.autopilot/
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
/reports/
